### Exercícios comparativos de linguagens:

1) Dado os seguintes algoritmos em linguagens específicas, crie um algoritmo equivalente em linguagem Python

https://rosettacode.org/wiki/Sorting_algorithms/Quicksort

# R

qsort <- function(v) {
  if (length(v) > 1) 
  {
    pivot <- (min(v) + max(v))/2.0  # Could also use pivot <- median(v)
    c(qsort(v[v < pivot]), v[v == pivot], qsort(v[v > pivot])) 
  } else v
}
 
N <- 100
vs <- runif(N)
system.time(u <- qsort(vs))
print(u)

# Common Lisp

(defun quicksort (list &aux (pivot (car list)) )
  (if (cdr list)
      (nconc (quicksort (remove-if-not #'(lambda (x) (< x pivot)) list))
             (remove-if-not #'(lambda (x) (= x pivot)) list)
             (quicksort (remove-if-not #'(lambda (x) (> x pivot)) list)))
      list))

In [ ]:
#C

#include <stdio.h>
void quicksort(int *A, int len);
 
int main (void) {
  int a[] = {4, 65, 2, -31, 0, 99, 2, 83, 782, 1};
  int n = sizeof a / sizeof a[0];
  int i;
  for (i = 0; i < n; i++) {
    printf("%d ", a[i]);
  }
  printf("\n");
  quicksort(a, n);
  for (i = 0; i < n; i++) {
    printf("%d ", a[i]);
  }
  printf("\n");
  return 0;
}

In [ ]:
# Python

def quickSort(arr):
    less = []
    pivotList = []
    more = []
    if len(arr) <= 1:
        return arr
    else:
        pivot = arr[0]
        for i in arr:
            if i < pivot:
                less.append(i)
            elif i > pivot:
                more.append(i)
            else:
                pivotList.append(i)
        less = quickSort(less)
        more = quickSort(more)
        return less + pivotList + more
 
a = [4, 65, 2, -31, 0, 99, 83, 782, 1]
a = quickSort(a)

2) Escreva um código em R para receber um vetor de inteiros e retornar um vetor com os inteiros pares dentre os inteiros da primeira lista

In [ ]:
v <- 1:20
    
filtra.pares <- function(v) {
  v <- v[v%%2 == 0]
  print(v)
  }

filtra.pares(v)

3) Escreva um código em Common Lisp para receber um vetor de inteiros e retornar um vetor com os inteiros pares dentre os inteiros da primeira lista

In [ ]:
(setq v2 #(1 2 3 4 5 6 7 8 9 10))
(remove-if-not 'evenp v2)

4) Faça um programa em Python equivalente ao seguinte programa em R:

In [ ]:
converte <- function (x) 
{
  romans <- c("M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", 
              "IX", "V", "IV", "I")
  numbers <- c(1000L, 900L, 500L, 400L, 100L, 90L, 50L, 40L, 
               10L, 9L, 5L, 4L, 1L)
  out <- integer(length(x))
  ind <- is.na(x)
  out[ind] <- NA
  if (any(!ind)) {
    y <- toupper(x[!ind])
    y <- gsub("CM", "DCCCC", y)
    y <- gsub("CD", "CCCC", y)
    y <- gsub("XC", "LXXXX", y)
    y <- gsub("XL", "XXXX", y)
    y <- gsub("IX", "VIIII", y)
    y <- gsub("IV", "IIII", y)
    ok <- grepl("^M{,3}D?C{,4}L?X{,4}V?I{,4}$", y)
    if (any(!ok)) {
      warning(sprintf(ngettext(sum(!ok), "invalid roman numeral: %s", 
                               "invalid roman numerals: %s"), paste(x[!ind][!ok], 
                                                                    collapse = " ")), domain = NA)
      out[!ind][!ok] <- NA
    }
    if (any(ok)) 
      out[!ind][ok] <- sapply(strsplit(y[ok], ""), function(z) as.integer(sum(numbers[match(z, 
                                                                                            romans)])))
  }
  out
}

In [ ]:
def converte(n):
    romanos = ['M','D','C','L','X','V','I']
    arabicos = [1000,500,100,50,10,5,1]
    
    n = n.replace("CM", "DCCCC")
    n = n.replace("CD", "CCCC")
    n = n.replace("XC", "LXXXX")
    n = n.replace("XL", "XXXX")
    n = n.replace("IX", "VIIII")
    n = n.replace("IV", "IIII")
    print(n)
    
    soma = 0
    for i in n:
        for j in range(len(romanos)):
            if i==romanos[j]:
                soma += arabicos[j]
    return soma

5) Faça um programa em Python equivalente ao seguinte programa em C:

In [ ]:
/* A function that prints given number in words */
void convert_to_words(char *num)
{
    int len = strlen(num);  // Get number of digits in given number
 
    /* Base cases */
    if (len == 0) {
        fprintf(stderr, "empty string\n");
        return;
    }
    if (len > 4) {
        fprintf(stderr, "Length more than 4 is not supported\n");
        return;
    }
 
    /* The first string is not used, it is to make array indexing simple */
    char *single_digits[] = { "zero", "one", "two", "three", "four",
                              "five", "six", "seven", "eight", "nine"};
 
    /* The first string is not used, it is to make array indexing simple */
    char *two_digits[] = {"", "ten", "eleven", "twelve", "thirteen", "fourteen",
                     "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"};
 
    /* The first two string are not used, they are to make array indexing simple*/
    char *tens_multiple[] = {"", "", "twenty", "thirty", "forty", "fifty",
                             "sixty", "seventy", "eighty", "ninety"};
 
    char *tens_power[] = {"hundred", "thousand"};
 
    /* Used for debugging purpose only */
    printf("\n%s: ", num);
 
    /* For single digit number */
    if (len == 1) {
        printf("%s\n", single_digits[*num - '0']);
        return;
    }
 
     /* Iterate while num is not '\0' */
     while (*num != '\0') {
 
        /* Code path for first 2 digits */
        if (len >= 3) {
            if (*num -'0' != 0) {
                printf("%s ", single_digits[*num - '0']);
                printf("%s ", tens_power[len-3]); // here len can be 3 or 4
            }
            --len;
        }
 
        /* Code path for last 2 digits */
        else {
            /* Need to explicitly handle 10-19. Sum of the two digits is
               used as index of "two_digits" array of strings */
            if (*num == '1') {
                int sum = *num - '0' + *(num + 1)- '0';
                printf("%s\n", two_digits[sum]);
                return;
            }
 
            /* Need to explicitely handle 20 */
            else if (*num == '2' && *(num + 1) == '0') {
                printf("twenty\n");
                return;
            }
 
            /* Rest of the two digit numbers i.e., 21 to 99 */
            else {
                int i = *num - '0';
                printf("%s ", i? tens_multiple[i]: "");
                ++num;
                if (*num != '0')
                    printf("%s ", single_digits[*num - '0']);
            }
        }
        ++num;
    }
}

/* Driver program to test above function */
int main(void)
{
    convert_to_words("9923");
    convert_to_words("523");
    convert_to_words("89");
    convert_to_words("8989");
 
    return 0;
}

### Exercícios com bancos de dados

1) Dada a tabela "pacientes", no banco de dados "Medicina", ilustrada abaixo:  


| idade | altura | peso | pressao_d | pressao_s |nome  |
|-------|--------|------|-----------|-----------|------|
| 23    | 183    | 73   | 8         | 12        |Rubens|
| 42    | 167    | 60   | 7         | 11        |Maria |
| 34    | 177    | 77   | 9         | 13        |Carlos|



Escreva um script em Python + SQL para construir um dicionário tendo os nomes como chave e as idades como valores.

In [1]:
import sqlite3

conn = sqlite3.connect('Medicina.db')
cur = conn.cursor()

In [2]:
# Create table
cur.execute('''CREATE TABLE IF NOT EXISTS pacientes
             (idade real, altura real, peso real, pressao_d real, pressao_s real, nome text)''')

# Insert a row of data
cur.execute("INSERT INTO pacientes VALUES (23, 183, 73, 8, 12, 'Rubens')")
cur.execute("INSERT INTO pacientes VALUES (42, 167, 60, 7, 11, 'Maria')")
cur.execute("INSERT INTO pacientes VALUES (34, 177, 77, 9, 13, 'Carlos')")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [5]:
conn = sqlite3.connect('Medicina.db')
cur = conn.cursor()

In [6]:
for row in cur.execute('SELECT * FROM pacientes ORDER BY nome'):
        print(row)

(34.0, 177.0, 77.0, 9.0, 13.0, 'Carlos')
(42.0, 167.0, 60.0, 7.0, 11.0, 'Maria')
(23.0, 183.0, 73.0, 8.0, 12.0, 'Rubens')

In [8]:
dic = {}
for row in cur.execute('SELECT nome, idade FROM pacientes ORDER BY nome'):
        print(row)
        dic[row[0]] = row[1]
dic

('Carlos', 34.0)
('Maria', 42.0)
('Rubens', 23.0)

{'Carlos': 34.0, 'Maria': 42.0, 'Rubens': 23.0}

2) Conecte ao banco Python/Dados/chinook.sqlite e inspecione a lista de tabelas

In [23]:
conn = sqlite3.connect('../Dados/chinook.sqlite')
cur = conn.cursor()

In [24]:
for row in cur.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(row)

('albums',)
('sqlite_sequence',)
('artists',)
('customers',)
('employees',)
('genres',)
('invoices',)
('invoice_items',)
('media_types',)
('playlists',)
('playlist_track',)
('tracks',)
('sqlite_stat1',)

3) Quais artistas lançaram mais albuns?

In [27]:
for row in cur.execute("PRAGMA table_info([albums]);"):
    print(row)

(0, 'AlbumId', 'INTEGER', 1, None, 1)
(1, 'Title', 'NVARCHAR(160)', 1, None, 0)
(2, 'ArtistId', 'INTEGER', 1, None, 0)

In [31]:
for row in cur.execute("PRAGMA table_info([artists]);"):
    print(row)

(0, 'ArtistId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)

In [37]:
q = '''
select artists.name, count(artists.name) as number
from albums
inner join artists
on albums.ArtistId = artists.ArtistId
group by artists.name
order by number
desc;
'''

for row in cur.execute(q):
    print(row)

('Iron Maiden', 21)
('Led Zeppelin', 14)
('Deep Purple', 11)
('Metallica', 10)
('U2', 10)
('Ozzy Osbourne', 6)
('Pearl Jam', 5)
('Faith No More', 4)
('Foo Fighters', 4)
('Lost', 4)
('Van Halen', 4)
('Various Artists', 4)
('Audioslave', 3)
('Berliner Philharmoniker & Herbert Von Karajan', 3)
('Eugene Ormandy', 3)
('Gilberto Gil', 3)
("Guns N' Roses", 3)
('Jamiroquai', 3)
('Miles Davis', 3)
('Os Paralamas Do Sucesso', 3)
('Queen', 3)
('R.E.M.', 3)
('Red Hot Chili Peppers', 3)
('Santana', 3)
('The Office', 3)
('The Rolling Stones', 3)
('AC/DC', 2)
('Accept', 2)
('Amy Winehouse', 2)
('Antônio Carlos Jobim', 2)
('Battlestar Galactica', 2)
('Black Label Society', 2)
('Black Sabbath', 2)
('Caetano Veloso', 2)
('Chico Science & Nação Zumbi', 2)
('Cidade Negra', 2)
('Creedence Clearwater Revival', 2)
('Cássia Eller', 2)
('Djavan', 2)
('English Concert & Trevor Pinnock', 2)
('Eric Clapton', 2)
('Green Day', 2)
('Kiss', 2)
('Legião Urbana', 2)
('Lulu Santos', 2)
('Michael Tilson Thomas & San Francisco Symphony', 2)
('Milton Nascimento', 2)
('Nirvana', 2)
('Skank', 2)
('Smashing Pumpkins', 2)
('Spyro Gyra', 2)
('The Black Crowes', 2)
('The Cult', 2)
('The Tea Party', 2)
('Tim Maia', 2)
('Titãs', 2)
('Aaron Copland & London Symphony Orchestra', 1)
('Aaron Goldberg', 1)
('Academy of St. Martin in the Fields & Sir Neville Marriner', 1)
('Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner', 1)
('Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair', 1)
('Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart', 1)
('Adrian Leaper & Doreen de Feis', 1)
('Aerosmith', 1)
('Aisha Duo', 1)
('Alanis Morissette', 1)
('Alberto Turco & Nova Schola Gregoriana', 1)
('Alice In Chains', 1)
('Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker', 1)
('Antal Doráti & London Symphony Orchestra', 1)
('Apocalyptica', 1)
('Aquaman', 1)
('BackBeat', 1)
('Barry Wordsworth & BBC Concert Orchestra', 1)
('Battlestar Galactica (Classic)', 1)
('Berliner Philharmoniker & Hans Rosbaud', 1)
('Berliner Philharmoniker, Claudio Abbado & Sabine Meyer', 1)
('Billy Cobham', 1)
('Body Count', 1)
('Boston Symphony Orchestra & Seiji Ozawa', 1)
('Britten Sinfonia, Ivor Bolton & Lesley Garrett', 1)
('Bruce Dickinson', 1)
('Buddy Guy', 1)
('C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu', 1)
('Cake', 1)
('Calexico', 1)
("Charles Dutoit & L'Orchestre Symphonique de Montréal", 1)
('Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti', 1)
('Chicago Symphony Orchestra & Fritz Reiner', 1)
('Chico Buarque', 1)
('Choir Of Westminster Abbey & Simon Preston', 1)
('Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker', 1)
('Chris Cornell', 1)
("Christopher O'Riley", 1)
('Cláudio Zoli', 1)
('David Coverdale', 1)
('Def Leppard', 1)
('Dennis Chambers', 1)
('Dread Zeppelin', 1)
('Ed Motta', 1)
('Edo de Waart & San Francisco Symphony', 1)
('Elis Regina', 1)
('Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra', 1)
('Emerson String Quartet', 1)
('Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir', 1)
('Falamansa', 1)
('Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos', 1)
('Frank Sinatra', 1)
('Frank Zappa & Captain Beefheart', 1)
('Fretwork', 1)
('Funk Como Le Gusta', 1)
('Gene Krupa', 1)
('Gerald Moore', 1)
('Godsmack', 1)
('Gonzaguinha', 1)
('Gustav Mahler', 1)
('Göteborgs Symfoniker & Neeme Järvi', 1)
('Habib Koité and Bamada', 1)
('Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker', 1)
('Heroes', 1)
('Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer', 1)
('House Of Pain', 1)
('Incognito', 1)
('Itzhak Perlman', 1)
('JET', 1)
('James Brown', 1)
('James Levine', 1)
('Jimi Hendrix', 1)
('Joe Satriani', 1)
('Jorge Ben', 1)
('Jota Quest', 1)
('João Suplicy', 1)
('Judas Priest', 1)
('Julian Bream', 1)
('Karsh Kale', 1)
("Kent Nagano and Orchestre de l'Opéra de Lyon", 1)
('Lenny Kravitz', 1)
('Leonard Bernstein & New York Philharmonic', 1)
('Les Arts Florissants & William Christie', 1)
('London Symphony Orchestra & Sir Charles Mackerras', 1)
('Luciana Souza/Romero Lubambo', 1)
('Luciano Pavarotti', 1)
('Marcos Valle', 1)
('Marillion', 1)
('Marisa Monte', 1)
('Martin Roscoe', 1)
('Marvin Gaye', 1)
('Maurizio Pollini', 1)
('Mela Tenenbaum, Pro Musica Prague & Richard Kapp', 1)
('Men At Work', 1)
('Michele Campanella', 1)
('Motörhead', 1)
('Mônica Marianno', 1)
('Mötley Crüe', 1)
('Nash Ensemble', 1)
('Nicolaus Esterhazy Sinfonia', 1)
('O Rappa', 1)
('O Terço', 1)
('Olodum', 1)
('Orchestra of The Age of Enlightenment', 1)
('Orchestre Révolutionnaire et Romantique & John Eliot Gardiner', 1)
('Os Mutantes', 1)
('Otto Klemperer & Philharmonia Orchestra', 1)
('Page & Plant', 1)
('Passengers', 1)
("Paul D'Ianno", 1)
('Philharmonia Orchestra & Sir Neville Marriner', 1)
('Philip Glass Ensemble', 1)
('Pink Floyd', 1)
('Planet Hemp', 1)
('R.E.M. Feat. Kate Pearson', 1)
('Raimundos', 1)
('Raul Seixas', 1)
('Richard Marlow & The Choir of Trinity College, Cambridge', 1)
('Roger Norrington, London Classical Players', 1)
('Royal Philharmonic Orchestra & Sir Thomas Beecham', 1)
('Rush', 1)
('Scholars Baroque Ensemble', 1)
('Scorpions', 1)
('Sergei Prokofiev & Yuri Temirkanov', 1)
('Sir Georg Solti & Wiener Philharmoniker', 1)
('Sir Georg Solti, Sumi Jo & Wiener Philharmoniker', 1)
('Soundgarden', 1)
('Stevie Ray Vaughan & Double Trouble', 1)
('Stone Temple Pilots', 1)
('System Of A Down', 1)
('Temple of the Dog', 1)
('Terry Bozzio, Tony Levin & Steve Stevens', 1)
('The 12 Cellists of The Berlin Philharmonic', 1)
('The Clash', 1)
('The Doors', 1)
("The King's Singers", 1)
('The Police', 1)
('The Posies', 1)
('The Who', 1)
('Ton Koopman', 1)
('Toquinho & Vinícius', 1)
('UB40', 1)
('Velvet Revolver', 1)
('Vinícius De Moraes', 1)
('Wilhelm Kempff', 1)
('Yehudi Menuhin', 1)
('Yo-Yo Ma', 1)
('Zeca Pagodinho', 1)

4) Quais gêneros musicais contêm mais faixas gravadas(tracks)?

In [38]:
for row in cur.execute("PRAGMA table_info([genres]);"):
    print(row)

(0, 'GenreId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(120)', 0, None, 0)

In [39]:
for row in cur.execute("PRAGMA table_info([tracks]);"):
    print(row)

(0, 'TrackId', 'INTEGER', 1, None, 1)
(1, 'Name', 'NVARCHAR(200)', 1, None, 0)
(2, 'AlbumId', 'INTEGER', 0, None, 0)
(3, 'MediaTypeId', 'INTEGER', 1, None, 0)
(4, 'GenreId', 'INTEGER', 0, None, 0)
(5, 'Composer', 'NVARCHAR(220)', 0, None, 0)
(6, 'Milliseconds', 'INTEGER', 1, None, 0)
(7, 'Bytes', 'INTEGER', 0, None, 0)
(8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)

In [40]:
q = '''
select genres.Name, count(tracks.name) as number
from genres
inner join tracks
on genres.GenreId = tracks.GenreId
group by genres.Name
order by number
desc;
'''

for row in cur.execute(q):
    print(row)

('Rock', 1297)
('Latin', 579)
('Metal', 374)
('Alternative & Punk', 332)
('Jazz', 130)
('TV Shows', 93)
('Blues', 81)
('Classical', 74)
('Drama', 64)
('R&B/Soul', 61)
('Reggae', 58)
('Pop', 48)
('Soundtrack', 43)
('Alternative', 40)
('Hip Hop/Rap', 35)
('Electronica/Dance', 30)
('Heavy Metal', 28)
('World', 28)
('Sci Fi & Fantasy', 26)
('Easy Listening', 24)
('Comedy', 17)
('Bossa Nova', 15)
('Science Fiction', 13)
('Rock And Roll', 12)
('Opera', 1)

5) Quais os clientes (customers) que gastaram mais dinheiro em compras (invoices)?

In [41]:
for row in cur.execute("PRAGMA table_info([customers]);"):
    print(row)

(0, 'CustomerId', 'INTEGER', 1, None, 1)
(1, 'FirstName', 'NVARCHAR(40)', 1, None, 0)
(2, 'LastName', 'NVARCHAR(20)', 1, None, 0)
(3, 'Company', 'NVARCHAR(80)', 0, None, 0)
(4, 'Address', 'NVARCHAR(70)', 0, None, 0)
(5, 'City', 'NVARCHAR(40)', 0, None, 0)
(6, 'State', 'NVARCHAR(40)', 0, None, 0)
(7, 'Country', 'NVARCHAR(40)', 0, None, 0)
(8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0)
(9, 'Phone', 'NVARCHAR(24)', 0, None, 0)
(10, 'Fax', 'NVARCHAR(24)', 0, None, 0)
(11, 'Email', 'NVARCHAR(60)', 1, None, 0)
(12, 'SupportRepId', 'INTEGER', 0, None, 0)

In [42]:
for row in cur.execute("PRAGMA table_info([invoices]);"):
    print(row)

(0, 'InvoiceId', 'INTEGER', 1, None, 1)
(1, 'CustomerId', 'INTEGER', 1, None, 0)
(2, 'InvoiceDate', 'DATETIME', 1, None, 0)
(3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0)
(4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0)
(5, 'BillingState', 'NVARCHAR(40)', 0, None, 0)
(6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0)
(7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0)
(8, 'Total', 'NUMERIC(10,2)', 1, None, 0)

In [49]:
q = '''
select customers.FirstName, customers.LastName, round(sum(invoices.Total),2) as total
from customers
inner join invoices
on customers.CustomerId = invoices.CustomerId
group by customers.FirstName, customers.Lastname
order by total
desc;
'''

for row in cur.execute(q):
    print(row)

('Helena', 'Holý', 49.62)
('Richard', 'Cunningham', 47.62)
('Luis', 'Rojas', 46.62)
('Hugh', "O'Reilly", 45.62)
('Ladislav', 'Kovács', 45.62)
('Frank', 'Ralston', 43.62)
('Fynn', 'Zimmermann', 43.62)
('Julia', 'Barnett', 43.62)
('Astrid', 'Gruber', 42.62)
('Victor', 'Stevens', 42.62)
('Terhi', 'Hämäläinen', 41.62)
('František', 'Wichterlová', 40.62)
('Isabelle', 'Mercier', 40.62)
('Johannes', 'Van der Berg', 40.62)
('Bjørn', 'Hansen', 39.62)
('Dan', 'Miller', 39.62)
('François', 'Tremblay', 39.62)
('Heather', 'Leacock', 39.62)
('Jack', 'Smith', 39.62)
('João', 'Fernandes', 39.62)
('Luís', 'Gonçalves', 39.62)
('Wyatt', 'Girard', 39.62)
('Camille', 'Bernard', 38.62)
('Dominique', 'Lefebvre', 38.62)
('Jennifer', 'Peterson', 38.62)
('Joakim', 'Johansson', 38.62)
('Manoj', 'Pareek', 38.62)
('Tim', 'Goyer', 38.62)
('Aaron', 'Mitchell', 37.62)
('Alexandre', 'Rocha', 37.62)
('Daan', 'Peeters', 37.62)
('Diego', 'Gutiérrez', 37.62)
('Eduardo', 'Martins', 37.62)
('Edward', 'Francis', 37.62)
('Ellie', 'Sullivan', 37.62)
('Emma', 'Jones', 37.62)
('Enrique', 'Muñoz', 37.62)
('Fernanda', 'Ramos', 37.62)
('Frank', 'Harris', 37.62)
('Hannah', 'Schneider', 37.62)
('John', 'Gordon', 37.62)
('Kara', 'Nielsen', 37.62)
('Kathy', 'Chase', 37.62)
('Leonie', 'Köhler', 37.62)
('Lucas', 'Mancini', 37.62)
('Madalena', 'Sampaio', 37.62)
('Marc', 'Dubois', 37.62)
('Mark', 'Philips', 37.62)
('Mark', 'Taylor', 37.62)
('Martha', 'Silk', 37.62)
('Michelle', 'Brooks', 37.62)
('Niklas', 'Schröder', 37.62)
('Patrick', 'Gray', 37.62)
('Phil', 'Hughes', 37.62)
('Robert', 'Brown', 37.62)
('Roberto', 'Almeida', 37.62)
('Stanisław', 'Wójcik', 37.62)
('Steve', 'Murray', 37.62)
('Puja', 'Srivastava', 36.64)

6) Quais foram as faixas mais compradas, e de qual artista são?

In [ ]:
q = '''
select customers.FirstName, customers.LastName, round(sum(invoices.Total),2) as total
from customers
inner join invoices
on customers.CustomerId = invoices.CustomerId
group by customers.FirstName, customers.Lastname
order by total
desc;
'''

for row in cur.execute(q):
    print(row)

7) Crie um histograma de faixas mais compradas, usando o matplotlib  
https://matplotlib.org/devdocs/api/_as_gen/matplotlib.pyplot.hist.html