In [134]:
inteiro = 3
flutuante = 4.4
complexo = 3 + 3j
string = 'uma string qualquer uma string legal'
lista = [1,2,4,'string',[1,5,4]]
tupla = (1,2,3,'texto')
dicionario = {'primeira':'valor1','segunda':'valor2'}
conjunto = {1,3,6,2,4,1,3}
booleano = True

In [58]:
'float, int, complex, str, list, tuple, dict, set, bool'

'float, int, complex, str, list, tuple, dict, set, bool'

In [135]:
'len','type','del',''

('len', 'type', 'del', '')

In [59]:
set(string)

{' ', 'a', 'e', 'g', 'i', 'l', 'm', 'n', 'q', 'r', 's', 't', 'u'}

In [60]:
set(string.split())

{'legal', 'qualquer', 'string', 'uma'}

In [61]:
int(float('34.56'))

34

In [62]:
string[::-1]

'lagel gnirts amu reuqlauq gnirts amu'

In [63]:
string.split()[-1]

'legal'

In [64]:
string.replace('a','').replace('e','').replace('i','').replace('o','').replace('u','')

'm strng qlqr m strng lgl'

In [65]:
for letra in list('aeiou'):
    string = string.replace(letra,'')
print(string)

m strng qlqr m strng lgl

In [66]:
string

'm strng qlqr m strng lgl'

Condicionais

In [80]:
a = 23
b = 23
c = 34
if a >= b and a >= c:
    if a > c:
        print('a é maior')
        if b > c:
            print('b é do meio, c é menor')
        else:
            print('c é do meio, b é menor')
elif b >= a:
    if b > c:
        print('b é maior')
        if a > c:
            print('a é do meio, c é menor')
        else:
            print('c é do meio, a é menor')

loop

In [133]:
conjunto_vazio = set([])
for letra in 'uma string':
    conjunto_vazio.add(letra)
print(conjunto_vazio)

{'g', 's', 'm', 'n', 't', 'i', 'r', 'u', 'a', ' '}

In [127]:
set('uma string')

{' ', 'a', 'g', 'i', 'm', 'n', 'r', 's', 't', 'u'}

In [108]:
s

12

In [109]:
s == 12

True

In [128]:
a = {1,2}

In [132]:
conjunto_vazio

In [143]:
for numero in range(0,101):
    if numero%5 == 0 and numero%3 ==0:
        print(numero)

0
15
30
45
60
75
90

In [ ]:
soma = 0
for i in range(4000000):
    soma = soma +

In [8]:
dict([('string',12),('outra_string',23)])

{'outra_string': 23, 'string': 12}

In [11]:
if False:
    print('sempre será verdadeiro')

In [24]:
outra_tupla = (1,2,'string',[2,3], (2,5),{2:3,4:5},{2,3,4})

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [44]:
soma = 0
for i in range(1000):
    if i%3 == 0 or i%5 == 0:
        soma += i
print(soma)

233168

In [29]:
del(soma)

In [58]:
'Uma {0} qualquer {2} com! um campo {1:.4f}'.format('coisa', 2/3, 'legal')

'Uma coisa qualquer legal com! um campo 0.6667'

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms

In [77]:
primeiro = 1
segundo = 2
soma = 0
while primeiro < 4000000:
    #print(primeiro)
    if primeiro%2 == 0:
        soma += primeiro
    primeiro, segundo = segundo, primeiro + segundo
print('A soma é igual a: {}'.format(soma))

A soma é igual a: 4613732

In [2]:
import time

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [ ]:
t0 = time.time()
primos = [2]
for i in range(3,600851475143+1,2):
    e_primo = True
    for primo in primos:
        if i%primo == 0:
            e_primo = False
            break
    if e_primo:
        primos.append(i)
print(primos[-1])
print('O tempo gasto foi de {} segundos'.format(time.time() - t0))

In [ ]:
t0 = time.time()
primos = [2]
for i in range(3,(600851475143+1)/2,2):
    e_primo = True
    for primo in primos:
        if i%primo == 0:
            e_primo = False
            break
    if e_primo:
        primos.append(i)
print(primos[-1])
print('O tempo gasto foi de {} segundos'.format(time.time() - t0))